<!DOCTYPE html>
<html lang="en" ng-app="MyFirstApp">
<head>
	<meta charset="UTF-8">
	<title>Ajax con $http</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
	<script src="js/controller.js"></script>
</head>
<body ng-controller="FirstController">
	<input type="text" ng-model="newPost.title">
	<br>
	<textarea name="" id="" cols="30" rows="10" ng-model="newPost.body"
	></textarea>
	<br>
	<button ng-click="addPost()">Enviar</button>
	<ul>
		<li ng-repeat="post in posts">
			<h2>{{post.title}}</h2>
			<p>{{post.body}}</p>
		</li>
	</ul>

</body>
</html>
