<!DOCTYPE html>
<html lang="en" ng-app="MyFirstApp">
<head>
	<meta charset="UTF-8">
	<title>Minified JavaScriptr</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
	<script src="js/controller.js"></script>
	<!--<script>
		angular.module("MyFirstApp",					  []).controller("FirstController", function($scope){
		$scope.nombre = "Alonso";
	});
	</script>-->
</head>
<body ng-controller="FirstController">
<h6>Add your comment:</h6>
<input type="text" ng-model="newComment.comment">
<br>
<h6>Add your UserName:</h6>
<input type="text" ng-model="newComment.username">
<button ng-click="addComment()">Add Comment</button>
	<h3>Comments</h3>
	<ul>
		<li ng-repeat="comment in comments">
			{{comment.comment}} - <strong>			   {{comment.username}}</strong> 
		</li>
	</ul>
</body>
</html>